@use "sass:color";
@use "settings.variables";
@use "tools.mixins";

.card,
.card-text,
.card-img,
.card-text-img {
    border: 1px solid currentColor;
    border-radius: settings.$borderRadius;
    background-color: settings.$cosmicLatte;
}

.card,
.card-text {
    padding: 1rem 2rem;
}

.card {
    @include tools.cardBefore(settings.$resedaGreen, true);
}

.card-text {
    @include tools.cardBefore(inherit, false);

    p {
        line-height: 1.75;
    }
}

.card-img {
    @include tools.cardBefore(inherit, false);

    img,
    video {
        width: 100%;
        height: 100%;
        border-radius: settings.$borderRadius;
        object-fit: cover;
    }

    img {
        display: flex;
        background-color: settings.$cosmicLatte;
        transition: opacity .2s;

        &.loading {
            opacity: 0;
        }
    }
}

.card-text-img {
    @include tools.cardBefore(inherit, false);
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: settings.$borderRadius 0 0 settings.$borderRadius;
        box-shadow: -1px 0px 0 0 currentColor;
        background-color: settings.$cosmicLatte;
        object-fit: cover;
        transition: opacity .2s;

        &.loading {
            opacity: 0;
        }
    }
}

.card-text-img__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-size: 1.15rem;
    }
}

.card-text-img.-clickable {
    cursor: pointer;

    @include tools.hover {
        @include tools.cardBefore(inherit, true);
        background-color: color.adjust(settings.$cosmicLatte, $lightness: -3%);
    }
}

.card-text-img.-vertical {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    justify-content: start;

    img {
        height: 15rem;
        border-radius: settings.$borderRadius settings.$borderRadius 0 0;
    }

    h3 {
        margin: .5rem 0 .25rem;
        font-size: 1.5rem;
    }

    .card-text-img__content {
        justify-content: start;
    }
}


// courses

.courses-grid {
    gap: 2rem;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;

    @include tools.breakpoint(settings.$medium) {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

.course-card {
    color: settings.$drabBrownDark;

    .button--primary {
        margin: auto 0 .25rem auto;
    }

    .button--link {
        padding: .5em 1.5em;
        padding-left: 0;
        margin: 0;

        @include tools.breakpoint(settings.$tiny) {
            padding-left: 1.5em;
            font-size: 1.125em;
        }
    }
}

.course-card__price {
    margin: .25rem 0;
    margin: 0;
    font-family: settings.$fontSecondary;
    font-size: 1.5rem !important;
    font-weight: 700;
    color: settings.$resedaGreen;
}

.course-card__description {
    margin-bottom: 1.5em;
}

.course-card__periods {
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid settings.$drabBrown;
}

.course-period {
    gap: .75rem;
    margin-top: .75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    p {
        margin: 0;
        font-size: 1rem;
    }
}

.course-period__dates {
    font-weight: 500;
}

.course-period__spots,
.course-period__time-info {
    font-style: italic;
}
