@use "settings.variables";
@use "tools.mixins";

.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    width: 90%;
    max-width: settings.$max-content-width;
    max-height: 90%;
    padding: 2rem;
    position: relative;
    border-radius: settings.$borderRadius;
    background: settings.$white;
    overflow: auto;

    h2 {
        margin-bottom: .75rem;
        text-shadow: -2px 2px settings.$sunset;
        color: settings.$blackBean;
    }

    h3,
    .bold {
        margin: .25rem 0;
        font-size: 1.25em;
        color: settings.$blackBean;
    }

    .bold + p {
        margin-top: .75rem;
    }

    form {
        margin-top: 1.5rem;
    }
}

.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.course-detail-modal {
    max-width: settings.$max-page-width;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group__error {
    margin-top: .25rem;
    color: settings.$error;
}

.form-group__input--error {
    border-color: settings.$error;
}

.modal-buttons {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    button {
        margin: 0;
    }

    .button--link {
        padding: .5em 0;
        margin: 0;
        margin-left: auto;
        order: 999;
        font-size: 1.125em;

        @include tools.breakpoint(settings.$tiny) {
            width: 100%;
            padding: .5em 1.5em;
            order: 0;
        }

        @include tools.breakpoint(settings.$small) {
            width: auto;
        }
    }
}

.modal__total-cost {
    margin: 1.75rem 0 1.5rem;
    font-family: settings.$fontSecondary;
    font-size: 1.25em;
    font-weight: 700;
    text-align: right;
    color: settings.$blackBean;
}

.modal__error {
    font-weight: 500;
    color: settings.$error;
}

.modal__content__image {
    img {
        width: 100%;
        height: 15rem;
        border: 1px solid currentColor;
        border-radius: settings.$borderRadius;
        object-fit: cover;
    }
}

.modal__content__intro {
    max-width: settings.$max-content-width;
    margin-bottom: 1rem;
}
