@use "settings.variables";
@use "tools.mixins";

.intro {
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    color: settings.$resedaGreen;

    @include tools.breakpoint(settings.$small) {
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

.intro__title {
    text-shadow: -2px 2px settings.$eggShell;

    @include tools.breakpoint(settings.$small) {
        font-size: 4rem;
    }
}

.intro__subtitle {
    margin: .25em 0;
    font-size: 1.75rem;

    @include tools.breakpoint(settings.$small) {
        font-size: 2.5rem;
    }
}

.intro__text {
    @include tools.breakpoint(settings.$small) {
        font-size: 1.5rem;
    }
}

.intro__right {
    gap: .75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tools.breakpoint(settings.$small) {
        gap: 1.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .card-img img {
            position: absolute;
        }
    }

    @include tools.breakpoint(settings.$large) {
        gap: .75rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

.block {
    width: 100%;
    margin: 5rem 0;
    color: settings.$drabBrown;

    @include tools.breakpoint(settings.$small) {
        margin: 6rem 0;

        .block__header {
            font-size: 1.5em;
        }
    }
}

.block__header {
    margin: 0 auto;
    font-size: 1.125em;
    text-align: center;

    p {
        max-width: settings.$max-text-width;
        margin: 0 auto;
        font-style: italic;
    }

    &.-wider p {
        text-wrap: balance;
        max-width: 57rem;
    }
}

.block.-reduce-margin-mobile {
    margin: -2.5rem 0;

    @include tools.breakpoint(settings.$small) {
        margin: 6rem 0;
    }
}

.block__cards {
    gap: 1.5rem;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    color: inherit;

    @include tools.breakpoint(settings.$small) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.block__cards.-centerpiece {
    gap: 3rem;
    align-items: center;
    justify-items: center;

    @include tools.breakpoint(settings.$small) {
        gap: 1.5rem;
        grid-template-columns: 1fr 4fr 1fr;

        img {
            width: 100%;
            height: auto;
        }
    }

    @include tools.breakpoint(settings.$medium) {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.block__cards.-two-cards {
    .card-img {
        padding-top: 80%;

        img {
            position: absolute;
            top: 0;
        }
    }

    @include tools.breakpoint(settings.$small) {
        grid-template-columns: 1fr;

        .card-img {
            padding-top: 60%;
        }
    }

    @include tools.breakpoint(settings.$medium) {
        grid-template-columns: 1fr 1fr;

        img {
            position: absolute;
        }
    }
}

.block__cards.-two-cards.-img-left {
    .card-img {
        order: 2;
    }

    @include tools.breakpoint(settings.$medium) {
        .card-img {
            order: 0;
        }
    }
}
