@use "settings.variables";
@use "tools.mixins";

.main {
    width: 90%;
    max-width: 1400px;
    padding-bottom: 6rem;
    margin: 1rem auto 6rem;
}

.divider-img {
    width: 90%;
    max-width: 600px;
    margin: 5rem auto 3rem;
    display: block;

    + .block {
        margin-top: 0;
    }
}

.content {
    max-width: settings.$max-content-width;
    padding: 1rem 0;
    color: settings.$blackBean;

    h1 {
        text-shadow: -2px 2px settings.$sunset;
    }

    h2,
    h3 {
        color: settings.$sealBrown;
    }

    h2 {
        margin: 1.25em 0 .625em;
        font-size: 2em;
    }

    h3 {
        margin: 1.75em 0 .75em;
        font-size: 1.5em;
    }

    p:not(.content__intro) {
        line-height: 1.8;
    }

    img {
        width: 100%;
        height: 15rem;
        margin-top: 2rem;
        border: 1px solid currentColor;
        border-radius: settings.$borderRadius;
        object-fit: cover;
    }

    @include tools.breakpoint(settings.$small) {
        margin: 0 2rem;

        h2 {
            margin: 1em 0 .5em;
            font-size: 2.5em;
        }

        img {
            height: 25rem;
        }
    }

    @include tools.breakpoint(settings.$large) {
        margin-left: 6rem;
    }
}

.content__intro {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.6;
    color: settings.$sealBrown;
}

.loading-spinner {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 3px solid settings.$sunset;
    border-radius: 50%;
    border-top: 3px solid settings.$drabBrown;
    vertical-align: middle;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
