@use "settings.variables";
@use "tools.mixins";

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__inner {
    gap: 1rem;
    padding: .25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: settings.$black;
    background-color: settings.$white;

    @include tools.breakpoint(settings.$small) {
        padding: 1rem 4rem;
    }
}

@supports (animation-timeline: scroll()) {
    header,
    .header__inner,
    .logo {
        animation-timeline: scroll();
        animation-range: 0px 150px;
        animation-fill-mode: both;
    }

    header {
        animation-name: add-shadow;

        @keyframes add-shadow {
            100% {
                box-shadow: settings.$shadow-elevation-medium;
            }
        }
    }

    @include tools.breakpoint(settings.$small) {
        header {
            .header__inner {
                animation-name: reduce-padding;

                @keyframes reduce-padding {
                    100% {
                        padding: .25rem 4rem;
                    }
                }
            }

            .logo {
                width: 6rem;
                height: 6rem;
                animation-name: shrink;

                @keyframes shrink {
                    100% {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}

@supports not (animation-timeline: scroll()) {
    .header {
        --headerHeight: 72px;
        height: calc(var(--headerHeight) + 1rem);
        top: -1rem;

        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 1rem;
            display: block;
            position: sticky;
        }

        &::before {
            top: calc(var(--headerHeight) - 1rem);
            box-shadow: settings.$shadow-elevation-medium;
            background: settings.$white;
        }

        &::after {
            top: 0;
            background: linear-gradient(settings.$white, transparent);
            z-index: 2;
        }
    }

    .header__inner {
        height: var(--headerHeight);
        margin-top: -1rem;
        position: sticky;
        top: 0;
        z-index: 3;
    }

    @include tools.breakpoint(settings.$small) {
        .header {
            --headerHeight: 112px;
        }
    }
}

.logo {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
    }

    @include tools.breakpoint(settings.$small) {
        width: 5rem;
        height: 5rem;
    }
}

.nav {
    max-height: 0;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    box-shadow: settings.$shadow-elevation-medium;
    background: settings.$white;
    overflow: hidden;
    transition: max-height .3s;

    ul {
        gap: 2rem;
        margin: 2rem;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(-20px);
        transition: all .3s;
    }

    .nav--open & {
        max-height: 100vh;

        ul {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @include tools.breakpoint(settings.$small) {
        height: auto;
        display: contents;
        position: static;
        box-shadow: none;
        background: none;
        overflow: visible;

        ul {
            margin: 0;
            opacity: 1;
            flex-direction: row;
            transform: translateY(0);
        }
    }
}

.hamburger {
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    color: settings.$resedaGreen;
    background: transparent;
    cursor: pointer;

    @include tools.breakpoint(settings.$small) {
        display: none;
    }
}

.hamburger-line {
    width: 2rem;
    height: 0.25rem;
    position: relative;
    border-radius: 10px;
    background: currentColor;
    transform-origin: 1px;
    transition: all .3s;

    .nav--open & {
        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
            transform: translateX(-20px);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}
