@use "settings.variables";
@use "tools.mixins";
@use "sass:color";

.button {
    width: fit-content;
    padding: .5em 1.75em;
    margin: 1.25em 0 1em;
    display: block;
    border: 1px solid currentColor;
    border-radius: settings.$borderRadius;
    box-shadow: -1px 2px 0 0 currentColor;
    font-family: settings.$fontSecondary;
    font-size: 1em;
    font-size: 1.125em;
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
    transition: all .2s ease-in-out;

    @include tools.hover {
        text-decoration: none;
    }

    @include tools.hoverOnly {
        box-shadow: -2px 4px 0 0 currentColor;
        transform: translate(1px, -2px);
    }

    @include tools.active {
        box-shadow: none;
        transform: translate(0, 0);
    }

    @include tools.breakpoint(settings.$tiny) {
        font-size: 1.25em;
    }
}

.button--primary {
    color: settings.$redBrown;
}

.button.-is-mobile-only {
    margin: -2rem auto 0;
    font-size: 1.25em;

    @include tools.breakpoint(settings.$small) {
        display: none;
    }
}

.link-secret {
    inset: 0 0 0 0;
    position: absolute;
}

.link {
    font-family: settings.$fontSecondary;

    @include tools.hover {
        text-decoration: underline;
    }
}

.button .loading-spinner {
    width: .75em;
    height: .75em;
    margin: 0 -1em 0 .25em;
}

.button--link {
    border: none !important;
    box-shadow: none !important;
    text-decoration: underline !important;
    transform: none !important;

    @include tools.hover {
        background-color: rgba(settings.$drabBrownDark, 0.1);
    }
}

.button--close {
    padding: 1.25rem;
    margin: 0;
    position: relative;
    background: settings.$white;

    svg {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}
