.main {
    width: 90%;
    max-width: 1400px;
    padding-bottom: 6rem;
    margin: 1rem auto 6rem;
}

.divider-img {
    width: 90%;
    max-width: 600px;
    margin: 5rem auto 3rem;
    display: block;
}
