html {
    height: 100%;
    box-sizing: border-box;
    font-family: $fontPrimary;
    font-size: 100%;
    color: $black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontSecondary;
}

p {
    line-height: 1.5;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute !important;
    left: -9999px;
    clip: rect(1px,1px,1px,1px);
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}

.centered {
    text-align: center;
}

.main {
    width: 90%;
    max-width: 1400px;
    padding-bottom: 6rem;
    margin: 1rem auto 6rem;
}

.header {
    gap: 1rem;
    padding: .25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    color: $black;
    background-color: $white;
    z-index: 1;

    @include breakpoint($small) {
        padding: 1rem 4rem;
    }

    @supports (animation-timeline: scroll()) {
        animation-timeline: scroll();
        animation-range: 0px 150px;
        animation-fill-mode: both;
        animation-name: add-shadow;

        @keyframes add-shadow {
            100% {
                box-shadow: $shadow-elevation-medium;
            }
        }
    }
}

.logo {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
}

.nav {
    ul {
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }

    @include breakpoint($small) {
        ul {
            flex-direction: row;
        }
    }
}

.intro {
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    color: $resedaGreen;

    @include breakpoint($small) {
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

.intro__title {
    margin: .25em 0;
    font-size: 15vw;
    text-shadow: -2px 2px $eggShell;

    @include breakpoint($small) {
        font-size: 4rem;
    }
}

.intro__subtitle {
    margin: .25em 0;
    font-size: 1.75rem;

    @include breakpoint($small) {
        font-size: 2.5rem;
    }
}

.intro__text {
    @include breakpoint($small) {
        font-size: 1.5rem;
    }
}

.intro__right {
    gap: .75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divider-img {
    width: 90%;
    max-width: 600px;
    margin: 5rem auto 3rem;
    display: block;
}

.block {
    width: 100%;
    margin: 3rem 0;
    color: $drabBrown;

    h2 {
        margin: .25em 0;
        font-size: 2.5rem;
    }

    > p {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 0;
        font-size: 1.5rem;
        font-style: italic;
    }

    + .block {
        margin-top: 6rem;
    }
}

.block__cards {
    gap: 1.5rem;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    color: inherit;

    @include breakpoint($small) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
