html {
    height: 100%;
    box-sizing: border-box;
    font-family: $fontPrimary;
    font-size: 100%;
    color: $black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontSecondary;
}

p {
    line-height: 1.5;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-osx-appearance: none;
    padding: 0;
    border: none;
    border-radius: 0;
    text-decoration: none;
    color: currentColor;
    background: transparent;
    overflow: visible;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
