// Colors

$white: #FFFCF4;
$black: #0A252D;
$drabBrown: #5D5838;
$sealBrown: #532A08;
$redBrown: #A0370F;
$sageGreen: #AFB78E;
$cosmicLatte: #FFF9E9;
$resedaGreen: #668568;
$ashGray: #B3BFA9;
$eggShell: #D9DCC9;
$butterScotch: #D69946;
$teal: #008080;
$blackBean: #371306;
$sunset: #EAC89A;
$charcoal: #313E50;


// Fonts

@import url("https://fonts.googleapis.com/css2?family=Federo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Federo", $fontPrimary;


// MISC

$borderRadius: 1.5rem;
$max-text-width: 800px;


// Breakpoints

$tiny: 480px;
$small: 768px;
$medium: 1024px;
$large: 1280px;


// SHADOWS

html {
    --shadow-color: 44deg 28% 78%;
}

$shadow-elevation-low: 0.4px 0.4px 0.7px hsl(var(--shadow-color) / 0.12),
    0.6px 0.6px 1px -0.9px hsl(var(--shadow-color) / 0.15),
    1.1px 1.2px 2px -1.8px hsl(var(--shadow-color) / 0.19);
$shadow-elevation-medium: 0.4px 0.4px 0.7px hsl(var(--shadow-color) / 0.13),
    1.1px 1.2px 2px -0.6px hsl(var(--shadow-color) / 0.15),
    2.5px 2.6px 4.4px -1.2px hsl(var(--shadow-color) / 0.18),
    5.7px 5.9px 10.1px -1.8px hsl(var(--shadow-color) / 0.2);
$shadow-elevation-high: 0.4px 0.4px 0.7px hsl(var(--shadow-color) / 0.12),
    1.5px 1.6px 2.7px -0.3px hsl(var(--shadow-color) / 0.13),
    2.7px 2.8px 4.8px -0.5px hsl(var(--shadow-color) / 0.14),
    4.1px 4.2px 7.2px -0.8px hsl(var(--shadow-color) / 0.15),
    6.1px 6.3px 10.8px -1px hsl(var(--shadow-color) / 0.17),
    9.1px 9.4px 16.1px -1.3px hsl(var(--shadow-color) / 0.18),
    13.4px 13.8px 23.7px -1.5px hsl(var(--shadow-color) / 0.19),
    19.2px 19.9px 34px -1.8px hsl(var(--shadow-color) / 0.2);
