@use "settings.variables";

@mixin breakpoint($w) {
    @media screen and (min-width: $w) {
        @content;
    }
}

@mixin hover {
    @media not all and (pointer:coarse) {
        &:hover,
        &:active,
        &:focus,
        &:focus:active {
            @content;
        }
    }
}

@mixin hoverOnly {
    @media not all and (pointer:coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin active {
    @media not all and (pointer:coarse) {
        &:active {
            @content;
        }
    }
}

@mixin aa {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin cardBefore($color, $is-bg: false) {
    margin-left: .75rem;
    position: relative;
    color: $color;
    transition: all .2s;

    &:before {
        content: "";
        width: calc(100% - .5rem);
        height: calc(100% - .5rem);
        position: absolute;
        top: 1.25rem;
        left: -.75rem;
        border-radius: calc(settings.$borderRadius + .75rem);
        z-index: -1;
        transition: all .2s;

        @if $is-bg {
            background: currentColor;
        }

        @else {
            border: 1px solid currentColor;
        }
    }
}
